#mainPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100vh;
}

#mainPage .sideBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100vh;
  width: 270px;
  background-color: #3f0e40;
  color: #fff;
  padding: 1rem;
}

#mainPage .sideBar i {
  padding: 0.5rem;
}

#mainPage .sideBar b {
  font-weight: 800;
}

#mainPage .sideBar li {
  margin: .25rem 0;
}

#mainPage .sideBar .channels, #mainPage .sideBar .users {
  margin: 3rem .5rem;
}

#mainPage .mainPanel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
}

#mainPage .mainPanel .navbar {
  margin: 1rem 1rem 0 1rem;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #bbb;
}

#mainPage .mainPanel .navbar input,
#mainPage .mainPanel .navbar i {
  padding: 0.3rem 0.5rem;
}

#mainPage .mainPanel .navbar input:hover,
#mainPage .mainPanel .navbar i:hover {
  color: #4a88e4;
}

#mainPage .mainPanel .posts {
  margin: 1rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  overflow: scroll;
}

#mainPage .mainPanel .posts i,
#mainPage .mainPanel .posts p,
#mainPage .mainPanel .posts span {
  padding: 0.5rem;
}

#mainPage .mainPanel .posts .post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#mainPage .mainPanel .posts .post .avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#mainPage .mainPanel .posts .post .userName {
  font-weight: 800;
}

#mainPage .mainPanel .posts .post .dateTime {
  font-size: 14px;
  color: #bbb;
}

#mainPage .mainPanel .inputBar {
  margin: 0 .5rem;
  padding: .25rem .5rem;
  border-radius: 4px;
  border: 1px #bbb solid;
  margin-bottom: 20px;
}

#mainPage .mainPanel .inputBar form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#mainPage .mainPanel .inputBar input {
  background: none;
  outline: none;
  border: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 18px;
}

#mainPage .mainPanel .inputBar i {
  padding: .5rem;
}
/*# sourceMappingURL=mainComp.css.map */