li {
  display: flex;
  align-items: center;
  margin-top: 4px;
  margin-bottom: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
}
div {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  margin-right: 10px;
}
