#signIn {
  width: 80vw;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
  .signInElement {
    padding: 1rem;
    input {
      font-size: 18px;
      padding: .125rem .5rem;
      border: 1px solid #000;
    }
    button {
      font-size: 18px;
      padding: .125rem .5rem;
      border: 1px solid #000;
      background-color: #0f0;
    }
  }
}
